@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$upvote-color: #FF4500;
$downvote-color: #5F99CF;
$none-color: #D3D3D3;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin section_sizing {
  padding: 10px 0;
  margin-top: 20px;
  &:first-child {
    border: 0;
    padding-top: 0;
  }
  .karma {
    font-weight: bold;
  }
  h1, h2, h3 {
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
  }
  h1 {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1.1em;
  }
  h3 {
    font-size: 1.0em;
  }
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: lowercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: Geneva;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    @include section_sizing;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* submissions */

section.submissions {
  @include section_sizing;
  padding-left: 0px;

  section.post_info {
    margin-top: 0px !important;
    margin-bottom: 10px;
    padding: 10px 5px 5px 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
}

section.votes {
  float: left;
  padding: 5px 5px 1px 2px;
  margin-top: 0px !important;

  a:link, a:visited {
    color: $none-color;
    text-decoration: none;
  }

  a:link.upvoted, a:visited.downvoted {
    color: $upvote-color;
  }

  a:link.downvoted, a:visited.downvoted {
    color: $downvote-color;
  }

  a:hover {
    color: $gray-medium-light;
    text-decoration: none;
  }

  a:active {
    color: $none-color;
    text-decoration: none;
  }
}

/* comment */

section.comment_info {
  margin-top: 0px
}

section.comment {
  margin-top: 0px;
  padding: 3px 0px;
}

.navbar-inverse {
   background-color: #3798ff;
}

.navbar-inverse .navbar-nav > li > a {
   color: white;
}

section.submissions h1 {
   text-transform: uppercase;
}

section.submissions section.post_info {
   border-bottom: lightgrey 1px solid;
   border-left: lightgrey 1px solid;
   border-top: none;
   border-right: none;
}

.navbar-inverse {
   border-color: lightgrey;
}

.navbar img {
   vertical-align: middle;
   width: 50px;
   float: left;
   padding: 10px;
}

.debug_dump {
   display: none;
}

h1 {
   font-size: 2.5em;
}