<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@subreddit) do |f| %>
      <%= render "shared/errors", object: f.object %>

      <%= f.label :name, class: "control-label" %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.submit "Create topic", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
