<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= image_tag("ls.jpg.png", :alt => "rss feed") %>
    <%= link_to full_title(), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              topics <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "All Topics", subreddits_path %></li>
              <li><%= link_to "New Topic", new_subreddit_path %></li>
              <li class="divider"></li>
              <%= render current_user.subreddits %>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.username %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
